.container-layout1 {
   background-color:white;
   /*width:60vw;*/
/*  padding: 100px;*/
  border: 1px solid black;
  border-radius: 30px;
  margin:auto;
  margin-top: 10px;
}
.container-layout {
   background-color:white;
   /*width:60vw;*/
/*  padding: 100px;*/
  border: 1px solid black;
  border-radius: 25px;
  margin:auto;
  margin-top: 170px;
}
.input-margin{
    border-radius: 25px;
    margin-top:25px;
}

.resDanger {
    color: red;
}
.resSuccess{
    color:green;
}
.padding-container{
    padding-top: auto;
    padding-right: 30px;
    padding-bottom: 400px;
    padding-left: 650px;
}

.padding{
    padding-top: 40px;
}

.container-layout2 {
   background-color:white;
   /*width:60vw;*/
/*  padding: 100px;*/
  border: 1px solid black;
  border-radius: 25px;
  margin:auto;
  margin-top: 60px;
}

.container-layout3 {
   background-color:white;
   /*width:60vw;*/
/*  padding: 100px;*/
  border: 1px solid black;
  border-radius: 25px;
  margin:auto;
  margin-top: 15px;
}